<form [formGroup]="formData" (submit)="onFormDataSubmit()">
    <div class="form-group">
        <label for="">URL de los datos</label>
        <div class="form-group-inline">
            <input class="form-control" nbInput type="text" placeholder="URL de los datos" formControlName="url">
            <button
                class="ml-2"
                nbButton
                status="success"
        
                [nbSpinner]="loadingData"
                nbSpinnerStatus="info"
                type="submit"
                [disabled]="formData.invalid || loadingData">
                Obtener datos
            </button>
        </div>
        <div class="mt-3 text-center">
            <div>o selecciona un fichero</div>
            <button
                class="mt-2"
                nbButton
                size="small"
                status="primary"
                type="button"
                (click)="inputFileRef.click()">
                Seleccionar
            </button>
            <input #inputFileRef type="file" style="display: none;" (change)="onFileChange($event)">
        </div>
    </div>
    
</form>
<form *ngIf="data" [formGroup]="formArguments" (submit)="onArgumentsSubmit()">
    <hr style="border-color: #222b45;">
    <div class="row mt-4">
        <div class="form-group col-md-6">
            <label for="">Eje X</label>
            <nb-select fullWidth placeholder="Eje X" formControlName="xAxis">
                <nb-option *ngFor="let csvField of csvFields" [value]="csvField">
                    {{ csvField }}
                </nb-option>
            </nb-select>
        </div>
        <div class="form-group col-md-6">
            <label for="">Eje Y</label>
            <nb-select fullWidth placeholder="Eje Y" formControlName="yAxis">
                <nb-option *ngFor="let csvField of csvFields" [value]="csvField">
                    {{ csvField }}
                </nb-option>
            </nb-select>
        </div>
        <div class="form-group col-md-6">
            <label for="">Tipo de gráfica</label>
            <nb-select fullWidth placeholder="Tipo de gráfica" formControlName="chartType">
                <nb-option *ngFor="let chartType of chartTypes" [value]="chartType.key">
                    {{ chartType.label }}
                </nb-option>
            </nb-select>
        </div>
    </div>
    <div class="form-actions">
        <button
            nbButton
            status="success"
            
            [nbSpinner]="loadingChart"
            nbSpinnerStatus="info"
            type="submit"
            [disabled]="formArguments.invalid || loadingChart">
            Pintar gráfica
        </button>
    </div>
</form>