* {
    box-sizing: border-box;
}

.form-group {
    label {
        margin-bottom: 0.5rem;
        display: block;
    }

    margin-bottom: 1.5rem;
}

.form-group-inline {
    display: flex;
    .form-control {
        flex: 1;
    }
}

.ml-2 {
    margin-left: 0.5rem;
}
.mt-1 {
    margin-top: 0.25rem;
}
.mt-3 {
    margin-top: 0.75rem;
}
.mt-4 {
    margin-top: 1rem;
}
.text-center {
    text-align: center;
}