<nb-layout>
    <nb-sidebar [containerFixed]="false">
        <app-chart-form (submitArguments)="chartRef.renderChart($event)" (getData)="chartData.renderData($event)"></app-chart-form>
    </nb-sidebar>
    <nb-layout-column>
        <nb-tabset>
            <nb-tab tabTitle="Datos">
                <app-chart-data #chartData></app-chart-data>
            </nb-tab>
            <nb-tab tabTitle="Gráfica">
                <app-chart #chartRef></app-chart>
            </nb-tab>
        </nb-tabset>
    </nb-layout-column>
</nb-layout>