<nb-layout>
    <nb-sidebar [containerFixed]="false">
        <app-chart-form
            (getChart)="tabsetRef.selectTab(tabChartRef); chartRef.renderChart($event)"
            (getData)="chartData.renderData($event)"></app-chart-form>
    </nb-sidebar>
    <nb-layout-column>
        <nb-tabset fullWidth #tabsetRef>
            <nb-tab tabTitle="Datos" tabIcon="list-outline">
                <app-chart-data #chartData></app-chart-data>
            </nb-tab>
            <nb-tab tabTitle="Gráfica" tabIcon="pie-chart-outline" #tabChartRef>
                <app-chart #chartRef></app-chart>
            </nb-tab>
        </nb-tabset>
    </nb-layout-column>
</nb-layout>